<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1">
  <display-name>example</display-name>
 
 	<listener>
		<listener-class>
			org.apache.commons.fileupload.servlet.FileCleanerCleanup
		</listener-class>
	</listener>

  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>org.lsqt.components.mvc.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
	<!-- 连接池 启用 Web 监控统计功能 start -->
	<filter>
		<filter-name>DruidWebStatFilter</filter-name>
		<filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
		<init-param>
			<param-name>exclusions</param-name>
			<param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>DruidWebStatFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>
	<!-- 连接池 启用 Web 监控统计功能 end -->

  <filter>
    <filter-name>applicationFilter</filter-name>
    <filter-class>org.lsqt.components.mvc.BootApplicationFilter</filter-class>
    
     <!-- 指定是否需要登陆 -->
    <init-param>
      <param-name>login</param-name>
      <param-value>true</param-value>
    </init-param>
    
    <!-- 指定静态资源加速 -->
    <init-param>
      <param-name>static</param-name>
      <param-value>/scripts/.*</param-value>
    </init-param>
    
    <!-- 脱离MVC容器管理的URL,例如自定义的Servlet地址 -->
    <init-param>
      <param-name>escape</param-name>
      <param-value>
      	/index.html
      </param-value>
    </init-param>
    
    <!-- 登陆、注册等可匿名访问的地址  -->
    <init-param>
      <param-name>anonymous</param-name>
      <param-value>
          /login.jsp.*,
	      /user/login.*,
	      /user/save_or_update.*,
		  /rst/user_work_record/wx/*.*,
          /rst/work_address/wx/*.*,
          /rst/user/wx/*.*

      </param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>applicationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>




</web-app>